.modal-competent
	&__set
		&--top-person
			padding: 25px 30px 20px
			background-color: #f2f2f2
		&--middle-person
			padding: 22px 30px 32px
		&--top-authority
			padding: 25px 30px
			background-color: #f2f2f2
		&--middle-authority
			padding: 20px 30px
		&--bottom-authority
			padding: 20px 30px
			position: relative
			&:before
				content: ''
				display: block
				position: absolute
				top: 0
				left: 50%
				transform: translateX(-50%)
				height: 1px
				width: 540px
				background-color: #cdd3d6
	&__row
		display: flex
		&--centered
			align-items: center
		&--small-offset
			margin-bottom: 3px
		&--middle-offset
			margin-bottom: 6px
		&--big-offset
			margin-bottom: 8px
		&--large-offset
			margin-bottom: 12px
	&__field
		&--left
			padding-right: 20px
			color: #262626
			font-family: "Open Sans", sans-serif
			font-size: 13px
			font-weight: 600
			line-height: 15px
			&.modal-competent__field--person
				width: 183px
			&.modal-competent__field--authority
				width: 134px
		&--right
			color: #595959
			font-family: "Open Sans", sans-serif
			font-size: 13px
			font-weight: 400
			line-height: 16px
			&.modal-competent__field--person
				width: calc(100% - 183px)
			&.modal-competent__field--authority
				width: calc(100% - 134px)
		&--smalloffseted
			margin-top: 12px 
		&--bigoffseted
			margin-top: 20px
	&__operate
		display: flex
		align-items: center
		background-color: #f2f2f2
		border-radius: 3px
		padding: 10px 6px 10px 10px
	&__operate + &__operate
		margin-top: -12px
	&__country
		display: flex
		align-items: center
		span
			color: #595959
			font-family: "Open Sans", sans-serif
			font-size: 13px
			font-weight: 400
			line-height: 16px
			margin-left: 10px
	&__input
		display: block
		width: 100%
		height: 34px
		border-radius: 3px
		border: 1px solid #cdd3d6
		background-color: #ffffff
		padding: 0 13px
		appearance: none
		&, &::placeholder
			color: #262626
			font-family: "Open Sans", sans-serif
			font-size: 13px
			font-weight: 400
			line-height: 32px
	&__textarea
		width: 100%
		min-width: 100%
		max-width: 100%
		height: 64px
		max-height: 64px
		min-height: 64px
		border-radius: 3px
		border: 1px solid #cdd3d6
		background-color: #ffffff
		resize: none
		padding: 10px 13px
		color: #595959
		font-family: "Open Sans", sans-serif
		font-size: 13px
		font-weight: 400
		line-height: 16px
	&__delete
		border: none
		display: inline-block
		width: 20px
		height: 20px
		flex-shrink: 0
		background-image: url(../img/icon-delete.svg)
		background-repeat: no-repeat
		background-position: center	
		background-color: transparent
		background-size: 20px 20px
		cursor: pointer
		margin-left: 4px
	&__add
		border: none
		display: inline-block
		width: 20px
		height: 20px
		flex-shrink: 0
		background-image: url(../img/icon-add.svg)
		background-repeat: no-repeat
		background-position: center	
		background-color: transparent
		background-size: 20px 20px
		cursor: pointer
		margin-left: 4px
		border-radius: 50%
		overflow: hidden
	&__load
		display: flex
		align-items: center
		justify-content: center
		width: 124px
		height: 34px
		border-radius: 3px
		border: 2px solid #0072c6
		background-color: #ffffff
		cursor: pointer
		transition: all 0.3s
		&:hover
			background-color: #e8e8e8
		span
			color: #0072c6
			font-family: "Open Sans", sans-serif
			font-size: 13px
			font-weight: 700
			line-height: 30px
			text-transform: uppercase
			letter-spacing: -0.13px
			margin-left: 7px