.process-kpi
	box-shadow: 0 1px 4px rgba(26, 26, 26, 0.22)
	border-radius: 3px
	border: 1px solid #d5dade
	overflow: hidden
	&__header
		display: flex
		align-items: center
		background-color: #f4f4f4
		border-bottom: 1px solid #d5dade
		height: 45px
		padding: 0 25px
		color: #262626
		font-family: "Open Sans", sans-serif
		font-size: 14px
		font-weight: 700
		line-height: 20px
	&__body
		padding: 13px 24px 21px
		background-color: #ffffff
	&__scores
		display: flex
		position: relative
		margin-top: 13px
		padding-top: 20px
		border-top: 1px solid #cdd3d6
	&__score-col
		flex-grow: 0
		&--number
		&--score
		&--edit
			display: flex
			flex-direction: column
			position: absolute
			top: 20px
			right: 0
	&__number
		color: #595959
		font-family: "Open Sans", sans-serif
		font-size: 18px
		font-weight: 700
		line-height: 33px
		text-align: right
		padding-right: 16px
		&:not(:last-child)
			margin-bottom: 7px
	&__property
		color: #262626
		font-family: "Open Sans", sans-serif
		font-size: 13px
		font-weight: 600
		line-height: 34px
		&:not(:last-child)
			margin-bottom: 7px
	&__edit
		width: 157px
		&:not(:last-child)
			margin-bottom: 7px
