.competent-authority-addrow
	display: flex
	align-items: center
	background-color: #fbfae6
	&--contact
		height: 50px
		padding-left: 16px
		border-radius: 3px
		border: 1px solid #ecd889
	&--segment
		height: 72px
		padding-left: 21px
		border-top: 1px solid #ecd889
	&--offseted
		margin-top: 4px
	&__btn
		display: flex
		align-items: center
		justify-content: center
		padding: 0 11px
		height: 33px
		border-radius: 3px
		border: 2px solid #0072c6
		background-color: #ffffff
		cursor: pointer
		transition: all 0.3s
		&:hover
			background-color: #e8e8e8
		&:not(:last-child)
			margin-bottom: 7px
		span
			color: #0072c6
			font-family: "Open Sans"
			font-size: 13px
			font-weight: 700
			line-height: 18px
			text-transform: uppercase
			margin-left: 6px