.competent-authority-newfield
	display: flex
	align-items: center
	&--offseted
		margin-bottom: 6px
	&__select
		width: calc(100% - 180px)
		appearance: none
		height: 34px
		border-radius: 3px
		border: 1px solid #cdd3d6
		background-color: #ffffff
		background-image: url(../img/icon-select-dropdown.png)
		background-repeat: no-repeat
		background-position: right -1px center
		padding: 0 50px 0 15px
		color: #595959
		font-family: "Open Sans", sans-serif
		font-size: 13px
		font-weight: 400
		line-height: 32px
		cursor: pointer
	&__create
		width: 147px
		margin-left: 5px
	&__delete
		margin-left: 4px