.competent-authority
	padding: 35px 0 80px
	&__container
		display: flex
		align-items: flex-start
	&__sidebar
		width: 235px
		box-shadow: 0 1px 4px rgba(26, 26, 26, 0.22)
		border-radius: 3px
		background-color: #ffffff
		padding: 7px
	&__content
		width: calc(100% - 235px)
		padding-left: 20px
	&__title
		color: #262626
		font-family: "Open Sans", sans-serif
		font-size: 20px
		font-weight: 600
		line-height: 18px
		margin-bottom: 20px
	&__edit-link
		width: 170px
		margin-left: auto
		margin-top: -45px
		margin-bottom: 15px
	&__operate
		display: flex
		justify-content: flex-end
		width: 270px
		margin-left: auto
		margin-top: -52px
		margin-bottom: 11px
	&__operate-btn
		margin-left: 10px
